<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098120778890-imvkckrs508o7msq8h40anj4i66vh2ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098120778890-imvkckrs508o7msq8h40anj4i66vh2ru</string>
	<key>API_KEY</key>
	<string>AIzaSyCp28L-60tdP_MRxMucT-yA-HqNdCpUAnw</string>
	<key>GCM_SENDER_ID</key>
	<string>1098120778890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesleyjdev.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-75ada</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-75ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098120778890:ios:e49f3f5277d765890d4973</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatios13-75ada.firebaseio.com</string>
</dict>
</plist>